@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lightTheme {
    --background: white;
    --text: black;
    --pad: 1rem;
    --navbg: grey;
  }
  .darkTheme {
    --background: black;
    --text: white;
    --navbg: grey;
  }
}
